@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Kapakana:wght@300..400&display=swap');

body {
    font-family: 'fredoka one', cursive;
    background-color: #5409DA;
}

#seleccionar-mascota{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:#5409DA
}

.tarjeta-de-mascota {
    width: 144px;
    height: 100px;
    background: #BBFBFF;
    padding: 10px;
    box-sizing: border-box;
    margin: 10px;
    border: 2px solid #4E71FF;
    display: flex;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
}

.tarjetas{
display: flex;
gap: 10px;
}

input{
    display: none;
}

input:checked + label {
    background-color: #d44141FF;
}

.subtitulo {
    font-size: 20px;
    
}

.titulo {
    text-align: center;
    color:#d44141FF;
    font-size: 80px;
    margin: 44px;
}

.tarjeta-de-mascota img {
    width: 70px;
}

#boton-mascota {
    width: 200px;
    height: 50px;
    background-color: #BBFBFF;
    border-radius: 20px;
    border: 2px solid #db3838;
    font-size: 20px;
    cursor: pointer;
    margin-top: 61px;
    font-family: fredoka one, cursive;
}

#seleccionar-ataque{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:#5409DA;
}

.boton-atake {
    width: 200px;
    height: 50px;
    background-color: #BBFBFF;
    border-radius: 20px;
    border: 2px solid #db3838;
    font-size: 20px;
    cursor: pointer;
    margin-top: 61px;
    font-family: fredoka one, cursive;
}

.titulo2 {
    text-align: center;
    color:#d44141FF;
    font-size: 80px;
    margin: 44px;
}

.scoreA {
    display: flex;
    gap: 10px;
    justify-content: start;
    margin-right: 5px;
    margin-top: 18px;
    background: firebrick;
    width: 348px;
    height: 80px;
    font-size: 33px;
}

.scoreB {
     display: flex;
    gap: 10px;
    justify-content: start;
    margin-right: 5px;
    margin-top: 18px;
    background: firebrick;
    width: 364px;
    height: 80px;
    margin-left: 97px;
    font-size: 33px;
}

.scorePlayer {
    display: flex;
    margin-right: 11px;
}

#mensajes {
    background: linen;
    margin-top: 64px;
    width: 478px;
    height: 37px;
    border-radius: 7px;
    text-align: center;
}

.tarjeta-de-mascota,
.tarjeta-mokepon {
    width: 144px;
    height: 100px;
    background: #BBFBFF;
    padding: 10px;
    box-sizing: border-box;
    margin: 10px;
    border: 2px solid #4E71FF;
    display: flex;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
}

.tarjeta-mokepon img {
    width: 70px;
}

#reinicio {
    margin-top: 4px;
}

#ver-mapa {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#mapa {
    background: #BBFBFF;
    width: 600px;
    height: 400px;
    border-radius: 20px;
    border: 2px solid #fc1616;
    position: relative;
}

#ver-mapa button {
    width: 80px;
    height: 50px;
    background-color: #BBFBFF;
    border-radius: 20px;
    border: 2px solid #db3838;
    font-size: 20px;
    cursor: pointer;
    margin: 10px 0;
    font-family: fredoka one, cursive;
}
