<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>myshop</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <div id="app">
        <header>
            <h3>My Shop</h3>
            <button class="cart">carro (0)</button>
            <div class="cart-content" v-show="carOpen">
                <div class="cart-content-product" v-for="(product, index) in cart" :key="product.name"
                :class="{'bg-gray':index & 1}">
                    <img v-bind:src="product.images[0].image" :alt="product.name.toUpperCase()"/>
                    <span>
                        {{ product.name }} - $ {{ new Intl.NumberFormat("es-CO").format(product.price) }}
                    </span>
                </div>
            </div>
        </header>
    
        <main>
            <section class="product">
                <div class="product-thumbnails">
                    <div 
                    v-for="(image, index) in product.images"
                    :key="image.thumbnail"
                    class="thumb" 
                    :class="{ active: activeImage == index}"
                    :style="{ backgroundImage: 'url(' + product.images[index].thumbnail + ')' }"
                    ></div>
                </div>
                <div class="product-image">
                    <img src="" alt="">
                </div>
            </section>
    
            <section class="description">
                <h4>{{ product.name.toUpperCase() }} {{ product.stock == 0 ? "😵‍💫" : "😎"}}</h4>
                <span class="badge new" v-if="product.new">Nuevo</span>
                <span class="badge new" v-if="product.offer">Oferta</span>
                <p class="description-status" v-if="product.stock <= 3">¡Últimas unidades!</p>
                <p class="description-price">$ {{ new Intl.NumberFormat("es-CO").format(product.price) }}</p>
                <p class="description-content"></p>
                <div class="discount">
                    <span>Código de Descuento</span>
                    <input type="text" placeholder="Ingrese su código">
                </div>
                <button :disabled="product.stock == 0">Agregar al carrito</button>
            </section>
        </main>
    </div>
    
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
        const {createApp} = Vue;

        const app = createApp({
            data() {
                return {
                    product: {
                        name: 'Camara',
                        price: 500000,
                        stock: 0,
                        content: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus, cumque.',
                    images: [
                        {
                        image: './images/camara.jpg',
                        thumbnail: './images/camara-thumb.jpg',
                        },
                        {
                        image: './images/camara-2.jpg',
                        thumbnail: './images/camara-2-thumb.jpg',
                        }
                    ],
                    new: true,
                    offer: false,
                },
                carOpen: true,
                activeImage: 0,
                cart: [
                    {
                        name: 'Camara',
                        price: 500000,
                        stock: 0,
                        content: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus, cumque.',
                        images: [
                            {
                                image: './images/camara.jpg',
                                thumbnail: './images/camara-thumb.jpg',
                            },
                            {
                                image: './images/camara-2.jpg',
                                thumbnail: './images/camara-2-thumb.jpg',
                            }
                        ],
                        new: true,
                        offer: false,
                    },
                    {
                        name: 'Camara 2',
                        price: 600000,
                        stock: 5,
                        content: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus, cumque.',
                        images: [
                            {
                                image: './images/camara-2.jpg',
                                thumbnail: './images/camara-2-thumb.jpg',
                            },
                            {
                                image: './images/camara.jpg',
                                thumbnail: './images/camara-thumb.jpg',
                            }
                        ],
                        new: true,
                        offer: true,
                    },
                    {
                        name: 'Camara',
                        price: 700000,
                        stock: 10,
                        content: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus, cumque.',
                        images: [
                            {
                                image: './images/camara.jpg',
                                thumbnail: './images/camara-thumb.jpg',
                            },
                            {
                                image: './images/camara.jpg',
                                thumbnail: './images/camara-thumb.jpg',
                            }
                        ],
                        new: false,
                        offer: false,
                    }
                    
                ],
            }
        }
    });             
        app.mount('#app');
    </script>
    
</body>
</html>